<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em;
        }
        nav {
            display: flex;
            justify-content: center;
            background-color: #444;
            padding: 0.5em;
        }
        nav a {
            color: white;
            text-decoration: none;
            padding: 1em;
        }
        main {
            margin-top: 20px;
            padding: 20px;
        }
        footer {
            text-align: center;
            padding: 10px;
            background-color: #333;
            color: white;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

    <header>
        <h1><%= pageTitle %></h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/secao1">Seção 1</a>
        <a href="/secao2">Seção 2</a>
    </nav>

    <main>
        <%- content %>
    </main>

    <footer>
        <p>Rodapé da página.</p>
    </footer>

</body>
</html>
